.app-container {
  width: 75%;
}
@media screen and (max-width: 1000px) {
  .app-container {
    width: 90%;
  }
}
.sidePanel {
  overflow: hidden;
  max-width: 300px;
  z-index: 999;
}

.toggler {
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  transition: 0.5s left ease-in-out;
}
[data-status='opened'] .toggler {
  left: 250px;
}
.dahed-line {
  display: block;
  width: 50%;
  height: 0.2rem;
  background-color: #000;
  margin-block: 0.25rem;
  margin-inline: auto;
  transition: all 0.5s ease-in-out;
}

[data-status='closed'] .menu-button span:nth-child(1) {
  transform: translateY(0) rotate(0);
}
[data-status='closed'] .menu-button span:nth-child(2) {
  opacity: 1;
}
[data-status='closed'] .menu-button span:nth-child(3) {
  transform: translateY(0) rotate(0);
}
[data-status='opened'] .menu-button span:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}
[data-status='opened'] .menu-button span:nth-child(2) {
  opacity: 0;
}
[data-status='opened'] .menu-button span:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}
.nav {
  position: fixed;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  z-index: 999;
}

.nav ul li {
  padding-bottom: 400px;
  opacity: 0;
}

.menu-button:hover {
  cursor: pointer;
}

.item-container:hover {
  cursor: pointer;
}
.item-name-container {
  width: 100%;
  min-height: 100%;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  transition: top 1s ease-in-out;
}
.item-container:hover .item-name-container {
  top: 0;
}

#search {
  display: none;
}
.category-link,
.area-link {
  color: gold;
  text-decoration: none;
}
.category-link:hover,
.area-link:hover,
.ingredient-link:hover {
  color: goldenrod;
  text-decoration: underline;
}

.ingredient-link {
  text-decoration: none;
  color: #fff;
}
.loader div {
  z-index: 100000;
}
